{% extends "__base.html" %}
{% load widget_tweaks %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>Add a task</h1>
  </div>
  <form action="{% url 'tasks:add' %}" method="post" autocomplete="off">
    {% csrf_token %}
    <fieldset>

    {# Non Field Error row #}
      {% if form.non_field_errors %}
        <div class="row">
          <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors|escape }}
          </div>
        </div>
      {% endif %}

    {# Row customer #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
        {% if form.customer.errors %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.customer.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.customer class+="custom_select custom_select_dropdown has-warning" %}
            </div>
          </div>
          {% for error in form.customer.errors %}
            <span id="helpBlock" class="help-block">
              {{ error|escape }}
            </span>
          {% endfor %}
        {% else %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.customer.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.customer class+="custom_select custom_select_dropdown" %}
            </div>
          </div>
        {% endif %}
        </div>
      </div>
    {# Row customer End #}

    {# Row station #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
        {% if form.station.errors %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.station.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.station class+="custom_select custom_select_dropdown has-warning" %}
            </div>
          </div>
          {% for error in form.station.errors %}
            <span id="helpBlock" class="help-block">
              {{ error|escape }}
            </span>
          {% endfor %}
        {% else %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.station.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.station class+="custom_select custom_select_dropdown" %}
            </div>
          </div>
        {% endif %}
        </div>
      </div>
    {# Row station End #}

    {# Row terminal #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
        {% if form.terminal.errors %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.terminal.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.terminal class+="custom_select custom_select_dropdown has-warning" %}
            </div>
          </div>
          {% for error in form.terminal.errors %}
            <span id="helpBlock" class="help-block">
              {{ error|escape }}
            </span>
          {% endfor %}
        {% else %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.terminal.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.terminal class+="custom_select custom_select_dropdown" %}
            </div>
          </div>
        {% endif %}
        </div>
      </div>
    {# Row terminal End #}

    {# Row device #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
        {% if form.device.errors %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.device.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.device class+="custom_select custom_select_dropdown has-warning" %}
            </div>
          </div>
          {% for error in form.device.errors %}
            <span id="helpBlock" class="help-block">
              {{ error|escape }}
            </span>
          {% endfor %}
        {% else %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.device.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.device class+="custom_select custom_select_dropdown" %}
            </div>
          </div>
        {% endif %}
        </div>
      </div>
    {# Row device End #}

    {# Row call_date #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
        {% if form.call_date.errors %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.call_date.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.call_date class+="custom_select custom_select_dropdown has-warning text_cursor" %}
            </div>
          </div>
          {% for error in form.call_date.errors %}
            <span id="helpBlock" class="help-block">
              {{ error|escape }}
            </span>
          {% endfor %}
        {% else %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.call_date.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.call_date class+="custom_select custom_select_dropdown text_cursor" %}
            </div>
          </div>
        {% endif %}
        </div>
      </div>
    {# Row call_date End #}

    {# Row work_assigned_to #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
        {% if form.work_assigned_to.errors %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.work_assigned_to.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.work_assigned_to class+="custom_select custom_select_dropdown has-warning" %}
            </div>
          </div>
          {% for error in form.work_assigned_to.errors %}
            <span id="helpBlock" class="help-block">
              {{ error|escape }}
            </span>
          {% endfor %}
        {% else %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.work_assigned_to.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.work_assigned_to class+="custom_select custom_select_dropdown" %}
            </div>
          </div>
        {% endif %}
        </div>
      </div>
    {# Row work_assigned_to End #}

    {# Row start_date #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
        {% if form.start_date.errors %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.start_date.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.start_date class+="custom_select custom_select_dropdown has-warning text_cursor" %}
            </div>
          </div>
          {% for error in form.start_date.errors %}
            <span id="helpBlock" class="help-block">
              {{ error|escape }}
            </span>
          {% endfor %}
        {% else %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.start_date.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.start_date class+="custom_select custom_select_dropdown text_cursor" %}
            </div>
          </div>
        {% endif %}
        </div>
      </div>
    {# Row start_date End #}

    {# Row finished #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
        {% if form.finished.errors %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.finished.label_tag }}
            </div>
            <div class="input-group-addon">
              {% render_field form.finished onClick="JobDoneAutoDate()" id+="job_done" class+="checkbox has-warning" %}
            </div>
          </div>
          {% for error in form.finished.errors %}
            <span id="helpBlock" class="help-block">
              {{ error|escape }}
            </span>
          {% endfor %}
        {% else %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.finished.label_tag }}
            </div>
            <div class="input-group-addon">
              {% render_field form.finished onClick="JobDoneAutoDate()" id+="job_done" class+="checkbox" %}
            </div>
          </div>
        {% endif %}
        </div>
      </div>
    {# Row finished End #}

    {# Row finish_date #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
        {% if form.finish_date.errors %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.finish_date.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.finish_date id+="job_done_date" class+="custom_select custom_select_dropdown has-warning text_cursor" %}
            </div>
          </div>
          {% for error in form.finish_date.errors %}
            <span id="helpBlock" class="help-block">
              {{ error|escape }}
            </span>
          {% endfor %}
        {% else %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.finish_date.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.finish_date id+="job_done_date" class+="custom_select custom_select_dropdown text_cursor" %}
            </div>
          </div>
        {% endif %}
        </div>
      </div>
    {# Row finish_date End #}

    {# Row err_symp_id #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
        {% if form.err_symp_id.errors %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.err_symp_id.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.err_symp_id class+="custom_select custom_select_dropdown has-warning" %}
            </div>
          </div>
          {% for error in form.err_symp_id.errors %}
            <span id="helpBlock" class="help-block">
              {{ error|escape }}
            </span>
          {% endfor %}
        {% else %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.err_symp_id.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.err_symp_id class+="custom_select custom_select_dropdown" %}
            </div>
          </div>
        {% endif %}
        </div>
      </div>
    {# Row err_symp_id End #}

    {# Row issue_description #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
        {% if form.issue_description.errors %}
          <div class="custom_form_label top">
            {{ form.issue_description.label_tag }}
          </div>
          {% render_field form.issue_description class+="custom_textarea has-warning" %}
          {% for error in form.issue_description.errors %}
            <span id="helpBlock" class="help-block">
              {{ error|escape }}
            </span>
          {% endfor %}
        {% else %}
          <div class="custom_form_label top">
            {{ form.issue_description.label_tag }}
          </div>
          {% render_field form.issue_description class+="custom_textarea" %}
        {% endif %}
        </div>
      </div>
    {# Row issue_description End #}

    {# Row err_cause_id #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
        {% if form.err_cause_id.errors %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.err_cause_id.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.err_cause_id class+="custom_select custom_select_dropdown has-warning" %}
            </div>
          </div>
          {% for error in form.err_cause_id.errors %}
            <span id="helpBlock" class="help-block">
              {{ error|escape }}
            </span>
          {% endfor %}
        {% else %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.err_cause_id.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.err_cause_id class+="custom_select custom_select_dropdown" %}
            </div>
          </div>
        {% endif %}
        </div>
      </div>
    {# Row err_cause_id End #}

    {# Row perf_act_id #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
        {% if form.perf_act_id.errors %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.perf_act_id.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.perf_act_id class+="custom_select custom_select_dropdown has-warning" %}
            </div>
          </div>
          {% for error in form.perf_act_id.errors %}
            <span id="helpBlock" class="help-block">
              {{ error|escape }}
            </span>
          {% endfor %}
        {% else %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.perf_act_id.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.perf_act_id class+="custom_select custom_select_dropdown" %}
            </div>
          </div>
        {% endif %}
        </div>
      </div>
    {# Row perf_act_id End #}

    {# Row solution_description #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
        {% if form.solution_description.errors %}
          <div class="custom_form_label top">
            {{ form.solution_description.label_tag }}
          </div>
          {% render_field form.solution_description class+="custom_textarea has-warning" %}
          {% for error in form.solution_description.errors %}
            <span id="helpBlock" class="help-block">
              {{ error|escape }}
            </span>
          {% endfor %}
        {% else %}
          <div class="custom_form_label top">
            {{ form.solution_description.label_tag }}
          </div>
          {% render_field form.solution_description class+="custom_textarea" %}
        {% endif %}
        </div>
      </div>
    {# Row solution_description End #}

    {# Row rnd_used #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
        {% if form.rnd_used.errors %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.rnd_used.label_tag }}
            </div>
            <div class="input-group-addon">
              {% render_field form.rnd_used class+="checkbox has-warning" %}
            </div>
          </div>
          {% for error in form.rnd_used.errors %}
            <span id="helpBlock" class="help-block">
              {{ error|escape }}
            </span>
          {% endfor %}
        {% else %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.rnd_used.label_tag }}
            </div>
            <div class="input-group-addon">
              {% render_field form.rnd_used class+="checkbox" %}
            </div>
          </div>
        {% endif %}
        </div>
      </div>
    {# Row rnd_used End #}

    {# Row field_eng_used #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
        {% if form.field_eng_used.errors %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.field_eng_used.label_tag }}
            </div>
            <div class="input-group-addon">
              {% render_field form.field_eng_used class+="checkbox has-warning" %}
            </div>
          </div>
          {% for error in form.field_eng_used.errors %}
            <span id="helpBlock" class="help-block">
              {{ error|escape }}
            </span>
          {% endfor %}
        {% else %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.field_eng_used.label_tag }}
            </div>
            <div class="input-group-addon">
              {% render_field form.field_eng_used class+="checkbox" %}
            </div>
          </div>
        {% endif %}
        </div>
      </div>
    {# Row field_eng_used End #}

    </fieldset>
    <div class="row custom_margin col-lg-4 col-md-5 col-sm-6">
      <input class="btn btn-default" type="reset" value="Reset" />
      <input class="btn btn-success" type="submit" value="Save" />
    </div>
  </form>

{% endblock content %}
