{% extends "__base.html" %}
{% load widget_tweaks %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}

{% block content %}
  <nav>
    <ul class="pagination">
      {% if  previous_tsk.0 %}
        <li>
          <a href="{% url 'tasks:detail' previous_tsk.0.id %}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li>
          <a href="{% url 'tasks:detail' previous_tsk.0.id %}">
            {{ previous_tsk.0.id }}
          </a>
        </li>
      {% elif not previous_tsk.0 %}
        <li class="disabled">
          <span>
            <span aria-hidden="true">&laquo;</span>
          </span>
        </li>
        <li class="disabled"><span>-</span></li>
      {% endif %}
        <li class="active">
          <a href="{% url 'tasks:detail' task.id %}">
            {{ task.id }}
          </a>
        </li>
      {% if next_tks.0 %}
        <li>
          <a href="{% url 'tasks:detail' next_tks.0.id %}">
            {{ next_tks.0.id }}
          </a>
        </li>
        <li>
          <a href="{% url 'tasks:detail' next_tks.0.id %}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% elif not next_tks.0 %}
        <li class="disabled"><span>-</span></li>
        <li class="disabled">
          <span>
            <span aria-hidden="true">&raquo;</span>
          </span>
        </li>
      {% endif %}
    </ul>
  </nav>

  <form action="{% url 'tasks:edit' task.id %}" method="post" autocomplete="off">
    {% csrf_token %}
    <fieldset>
      <legend>Task number {{ task.id }}</legend>

    {# Non Field Error row #}
      {% if form.non_field_errors %}
        <div class="row">
          <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors|escape }}
          </div>
        </div>
      {% endif %}

    {# Row summary #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
        {% if form.summary.errors %}
          <div class="custom_form_label top">
            {{ form.summary.label_tag }}
          </div>
          {% render_field form.summary class+="custom_input has-warning" %}
          {% for error in form.summary.errors %}
            <span id="helpBlock" class="help-block">
              {{ error|escape }}
            </span>
          {% endfor %}
        {% else %}
          <div class="custom_form_label top">
            {{ form.summary.label_tag }}
          </div>
          {% render_field form.summary class+="custom_input" %}
        {% endif %}
        </div>
      </div>
    {# Row summary End #}

    {# Row priority #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
        {% if form.priority.errors %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.priority.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.priority class+="custom_select custom_select_dropdown has-warning" %}
            </div>
          </div>
          {% for error in form.priority.errors %}
            <span id="helpBlock" class="help-block">
              {{ error|escape }}
            </span>
          {% endfor %}
        {% else %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.priority.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.priority class+="custom_select custom_select_dropdown" %}
            </div>
          </div>
        {% endif %}
        </div>
      </div>
    {# Row priority End #}

    {# Row status #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
        {% if form.status.errors %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.status.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.status class+="custom_select custom_select_dropdown has-warning" %}
            </div>
          </div>
          {% for error in form.status.errors %}
            <span id="helpBlock" class="help-block">
              {{ error|escape }}
            </span>
          {% endfor %}
        {% else %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.status.label_tag }}
            </div>
            <div class="custom_select_wraper">
                {% render_field form.status class+="custom_select custom_select_dropdown" %}
            </div>
          </div>
        {% endif %}
        </div>
      </div>
    {# Row status End #}

    {# Row assigned_to #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
        {% if form.assigned_to.errors %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.assigned_to.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.assigned_to class+="custom_select custom_select_dropdown has-warning" %}
            </div>
          </div>
          {% for error in form.assigned_to.errors %}
            <span id="helpBlock" class="help-block">
              {{ error|escape }}
            </span>
          {% endfor %}
        {% else %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.assigned_to.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.assigned_to class+="custom_select custom_select_dropdown" %}
            </div>
          </div>
        {% endif %}
        </div>
      </div>
    {# Row assigned_to End #}

    {# Row deadline #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
        {% if form.deadline.errors %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.deadline.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.deadline class+="custom_select custom_select_dropdown has-warning text_cursor" %}
            </div>
          </div>
          {% for error in form.deadline.errors %}
            <span id="helpBlock" class="help-block">
              {{ error|escape }}
            </span>
          {% endfor %}
        {% else %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.deadline.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.deadline class+="custom_select custom_select_dropdown text_cursor" %}
            </div>
          </div>
        {% endif %}
        </div>
      </div>
    {# Row deadline End #}

    {# Row start_date #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
        {% if form.start_date.errors %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.start_date.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.start_date class+="custom_select custom_select_dropdown has-warning text_cursor" %}
            </div>
          </div>
          {% for error in form.start_date.errors %}
            <span id="helpBlock" class="help-block">
              {{ error|escape }}
            </span>
          {% endfor %}
        {% else %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.start_date.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.start_date class+="custom_select custom_select_dropdown text_cursor" %}
            </div>
          </div>
        {% endif %}
        </div>
      </div>
    {# Row start_date End #}

    {# Row complete_date #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
        {% if form.complete_date.errors %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.complete_date.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.complete_date id+="job_done_date" class+="custom_select custom_select_dropdown has-warning text_cursor" %}
            </div>
          </div>
          {% for error in form.complete_date.errors %}
            <span id="helpBlock" class="help-block">
              {{ error|escape }}
            </span>
          {% endfor %}
        {% else %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.complete_date.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.complete_date id+="job_done_date" class+="custom_select custom_select_dropdown text_cursor" %}
            </div>
          </div>
        {% endif %}
        </div>
      </div>
    {# Row complete_date End #}

    {# Row description #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
        {% if form.description.errors %}
          <div class="custom_form_label top">
            {{ form.description.label_tag }}
          </div>
          {% render_field form.description class+="custom_textarea has-warning" %}
          {% for error in form.description.errors %}
            <span id="helpBlock" class="help-block">
              {{ error|escape }}
            </span>
          {% endfor %}
        {% else %}
          <div class="custom_form_label top">
            {{ form.description.label_tag }}
          </div>
          {% render_field form.description class+="custom_textarea" %}
        {% endif %}
        </div>
      </div>
    {# Row description End #}

    {# Row prerequisite #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
        {% if form.prerequisite.errors %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.prerequisite.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.prerequisite class+="custom_select custom_select_dropdown has-warning" %}
            </div>
          </div>
          {% for error in form.prerequisite.errors %}
            <span id="helpBlock" class="help-block">
              {{ error|escape }}
            </span>
          {% endfor %}
        {% else %}
          <div class="input-group">
            <div class="custom_form_label left">
              {{ form.prerequisite.label_tag }}
            </div>
            <div class="custom_select_wraper">
              {% render_field form.prerequisite class+="custom_select custom_select_dropdown" %}
            </div>
          </div>
        {% endif %}
        </div>
      </div>
    {# Row prerequisite End #}

    {# Row prerequisite_description #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
        {% if form.prerequisite_description.errors %}
          <div class="custom_form_label top">
            {{ form.prerequisite_description.label_tag }}
          </div>
          {% render_field form.prerequisite_description class+="custom_textarea has-warning" %}
          {% for error in form.prerequisite_description.errors %}
            <span id="helpBlock" class="help-block">
              {{ error|escape }}
            </span>
          {% endfor %}
        {% else %}
          <div class="custom_form_label top">
            {{ form.prerequisite_description.label_tag }}
          </div>
          {% render_field form.prerequisite_description class+="custom_textarea" %}
        {% endif %}
        </div>
      </div>
    {# Row prerequisite_description End #}

    {# Row registered #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
          <div class="input-group">
            <div class="custom_form_label left">
              <label for="id_registered">Created:</label>
            </div>
            <div class="custom_select_wraper">
              <time id="id_registered" class="custom_select custom_select_dropdown">{{ task.registered|date:"d.m.Y H:i" }}</time>
            </div>
          </div>
        </div>
      </div>

    {# Row author #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
          <div class="input-group">
            <div class="custom_form_label left">
              <label for="id_author">Author:</label>
            </div>
            <div class="custom_select_wraper">
              <span id="id_author" class="custom_select custom_select_dropdown">
                {% if task.author.first_name or task.author.last_name %}
                  {{ task.author.first_name }} {{ task.author.last_name }}
                {% else %}
                  {{ task.author }}
                {% endif %}
              </span>
            </div>
          </div>
        </div>
      </div>

    {# Row last_edited #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
          <div class="input-group">
            <div class="custom_form_label left">
              <label for="id_last_edited">Last edited:</label>
            </div>
            <div class="custom_select_wraper">
              <time id="id_last_edited" class="custom_select custom_select_dropdown">{{ task.last_edited|date:"d.m.Y H:i" }}</time>
            </div>
          </div>
        </div>
      </div>

    {# Row last_edited_by #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
          <div class="input-group">
            <div class="custom_form_label left">
              <label for="id_last_edited_by">Last edited by:</label>
            </div>
            <div class="custom_select_wraper">
              <span id="id_last_edited_by" class="custom_select custom_select_dropdown">
                {% if task.last_edited_by.first_name or task.last_edited_by.last_name %}
                  {{ task.last_edited_by.first_name }} {{ task.last_edited_by.last_name }}
                {% else %}
                  {{ task.last_edited_by }}
                {% endif %}
              </span>
            </div>
          </div>
        </div>
      </div>

    {# Row commentary #}
      <div class="row custom_margin">
        <div class="col-lg-4 col-md-5 col-sm-6">
        {% if form.commentary.errors %}
          <div class="custom_form_label top">
            {{ form.commentary.label_tag }}
          </div>
          {% render_field form.commentary class+="custom_textarea has-warning" %}
          {% for error in form.commentary.errors %}
            <span id="helpBlock" class="help-block">
              {{ error|escape }}
            </span>
          {% endfor %}
        {% else %}
          <div class="custom_form_label top">
            {{ form.commentary.label_tag }}
          </div>
          {% render_field form.commentary class+="custom_textarea" %}
        {% endif %}
        </div>
      </div>
    {# Row commentary End #}

    </fieldset>

    <div class="row custom_margin col-lg-4 col-md-5 col-sm-6">
      <a class="btn btn-default" type="button" href="{% url 'tasks:detail' task.id %}">Reset</a>
      <input class="btn btn-default" type="button" value="Back" onClick="history.go(-1);">
      <input class="btn btn-success" type="submit" value="Save" />
    </div>
  </form>

{% endblock content %}
