{% extends "__base.html" %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>Open tasks</h1>
  </div>
  {% if open_task_list %}
    <div class="row">
      <div class="col-md-4 custom_margin">
      <a type="button" class="btn btn-primary" href="?q={{ user.username }}">Show assigned to me</a>
      <a type="button" class="btn btn-default" href="{% url 'tasks:open' %}">Show all</a>
    </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-8">
        <table class="table sortable">
          <thead>
            <tr id="send_sorting" class="sorttable-cursor open">
              {% if sort_arrow_parent_id == 'id' %}
                <th id="id">ID<span id="sorttable_sortfwdind">&nbsp;▾</span></th>
              {% elif sort_arrow_parent_id == '-id' %}
                <th id="id">ID<span id="sorttable_sortrevind">&nbsp;▴</span></th>
              {% else %}
                <th id="id">ID</th>
              {% endif %}

              {% if sort_arrow_parent_id == 'summary' %}
                <th id="summary">Summary<span id="sorttable_sortfwdind">&nbsp;▾</span></th>
              {% elif sort_arrow_parent_id == '-summary' %}
                <th id="summary">Summary<span id="sorttable_sortrevind">&nbsp;▴</span></th>
              {% else %}
                <th id="summary">Summary</th>
              {% endif %}

              {% if sort_arrow_parent_id == 'status' %}
                <th id="status">Status<span id="sorttable_sortfwdind">&nbsp;▾</span></th>
              {% elif sort_arrow_parent_id == '-status' %}
                <th id="status">Status<span id="sorttable_sortrevind">&nbsp;▴</span></th>
              {% else %}
                <th id="status">Status</th>
              {% endif %}

              {% if sort_arrow_parent_id == 'priority' %}
                <th id="priority">Priority<span id="sorttable_sortfwdind">&nbsp;▾</span></th>
              {% elif sort_arrow_parent_id == '-priority' %}
                <th id="priority">Priority<span id="sorttable_sortrevind">&nbsp;▴</span></th>
              {% else %}
                <th id="priority">Priority</th>
              {% endif %}

              {% if sort_arrow_parent_id == 'category' %}
                <th id="category">Category<span id="sorttable_sortfwdind">&nbsp;▾</span></th>
              {% elif sort_arrow_parent_id == '-category' %}
                <th id="category">Category<span id="sorttable_sortrevind">&nbsp;▴</span></th>
              {% else %}
                <th id="category">Category</th>
              {% endif %}

              {% if sort_arrow_parent_id == 'assigned_to' %}
                <th id="assigned_to">Assignee<span id="sorttable_sortfwdind">&nbsp;▾</span></th>
              {% elif sort_arrow_parent_id == '-assigned_to' %}
                <th id="assigned_to">Assignee<span id="sorttable_sortrevind">&nbsp;▴</span></th>
              {% else %}
                <th id="assigned_to">Assignee</th>
              {% endif %}

              {% if sort_arrow_parent_id == 'prerequisite' %}
                <th id="prerequisite">Pre.ID<span id="sorttable_sortfwdind">&nbsp;▾</span></th>
              {% elif sort_arrow_parent_id == '-prerequisite' %}
                <th id="prerequisite">Pre.ID<span id="sorttable_sortrevind">&nbsp;▴</span></th>
              {% else %}
                <th id="prerequisite">Pre.ID</th>
              {% endif %}

              {% if sort_arrow_parent_id == 'deadline' %}
                <th id="deadline" class="sorttable_ddmm">Deadline<span id="sorttable_sortfwdind">&nbsp;▾</span></th>
              {% elif sort_arrow_parent_id == '-deadline' %}
                <th id="deadline" class="sorttable_ddmm">Deadline<span id="sorttable_sortrevind">&nbsp;▴</span></th>
              {% else %}
                <th id="deadline" class="sorttable_ddmm">Deadline</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for e in open_task_list %}
              {% if e.get_status_display == 'Overdue' %}
                <tr class="overdue">
              {% elif e.get_status_display == 'On Hold' %}
                <tr class="on-hold">
              {% elif e.get_status_display == 'In Progress' %}
                <tr class="in-progress">
              {% else %}
                <tr class="rowhighlight">
              {% endif %}
                <th ><a  href="{% url 'tasks:detail' e.id %}" class="rowlink">{{ e.id }}</th>
                <td>{{ e.summary }}</td>
                <td>{{ e.get_status_display }}</td>
                <td>{{ e.priority }}</td>
                <td>{{ e.category.name }}</td>
                <td>{{ e.assigned_to.user.first_name }} {{e.assigned_to.user.last_name}}</td>
                <td>{{ e.prerequisite.id }}</td>
                <td>{{ e.deadline|date:"d.m.Y" }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% else %}
    <p>No tasks are available.</p>
  {% endif %}
{% endblock content %}