{% extends "__base.html" %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>Open tasks</h1>
  </div>
  {% if open_task_list %}
    <div class="row">
      <div class="col-md-4 custom_margin">
      <a type="button" class="btn btn-primary" href="?q={{ user.username }}">Show assigned to me</a>
      <a type="button" class="btn btn-default" href="{% url 'tasks:open' %}">Show all</a>
    </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-8">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Summary</th>
              <th>Status</th>
              <th>Priority</th>
              <th>Assignee</th>
              <th>Pre.ID</th>
              <th>Deadline</th>
            </tr>
          </thead>
          <tbody>
            {% for e in open_task_list %}
              {% if e.deadline < time_now %}
                <tr class="overdue">
              {% else %}
                <tr class="rowhighlight">
              {% endif %}
                <th ><a  href="{% url 'tasks:detail' e.id %}" class="rowlink">{{ e.id }}</th>
                <td>{{ e.summary }}</td>
                <td>{{ e.status }}</td>
                <td>{{ e.priority }}</td>
                <td>{{ e.assigned_to }}</td>
                <td>{{ e.prerequisite.id }}</td>
                <td>{{ e.deadline|date:"d.m.Y" }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% else %}
    <p>No tasks are available.</p>
  {% endif %}
{% endblock content %}