ID;
Customer name;
Station name - number;
Terminal number;
User name;
Call date;
Symptom;
Issue description;
Start date;
Cause;
Finish date;
Performed action;
Solution description;
RND used;
Field engineer used
<br>
{% for task in all_tasks %}
  {{ task.id }};
  {{ task.customer }};
  {{ task.station }};
  {{ task.terminal }};
  {{ task.work_assigned_to }};
  {{ task.call_date|date:"Y-m-d H:i:s" }};
  {{ task.err_symp_id }};
  {{ task.issue_description }};
  {{ task.start_date|date:"Y-m-d H:i:s" }};
  {{ task.err_cause_id }};
  {{ task.finish_date|date:"Y-m-d H:i:s" }};
  {{ task.perf_act_id }};
  {{ task.solution_description }};
  {{ task.rnd_used }};
  {{ task.field_eng_used }}
  <br>
{% endfor %}