{% extends "__base.html" %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}

{% block content %}

  <div>
    <form method="GET" action="">
      <div>
        <label for="searchbar">Search:</label>
        <input id="searchbar" type="text" value="" name="q" size="20">
        <input type="submit" value="Search">
      </div>
    </form>
    <a href="{% url 'workorders:all' %}">Reset Search</a>
  </div>

  {% if workorder_list %}
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Station name</th>
              <th>Customer</th>
              <th>Creation date</th>
            </tr>
          </thead>
          <tbody>
            {% for workorder in workorder_list %}
              <tr>
                <th><a href="{% url 'workorders:detail' workorder.id %}">{{ workorder.id }}</th>
                <td>{{ workorder.station }}</td>
                <td>{{ workorder.customer }}</td>
                <td>{{ workorder.pub_date }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
  {% else %}
    <p>No workorders are available.</p>
  {% endif %}
{% endblock content %}