{% extends "__base.html" %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}

{% block content %}
  {% if list %}
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Station name</th>
              <th>Customer</th>
              <th>Time since creation</th>
            </tr>
          </thead>
          <tbody>
            {% for e in list %}
              {% if e.0.workorder_expires < time_now %}
                <tr style="background-color: #FF7256;">
              {% else %}
                <tr>
              {% endif %}
                <th><a href="{% url 'workorders:detail' e.0.id %}">{{ e.0.id }}</th>
                <td>{{ e.0.station }}</td>
                <td>{{ e.0.customer }}</td>
                <td>{{ e.1 }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
  {% else %}
    <p>No workorders are available.</p>
  {% endif %}
{% endblock content %}